/**
 * Date and Time for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/datetime
 */


/* Apply relative positioning on label and children --------*/
 .field.field-datetime label {
 	height: auto;
 	margin: 0;
 	padding: var(--standard-inner-rhythm);
 	background-color: var(--standard-field-background-color);
 }

 .field.field-datetime label>span {
 	top: auto;
 }


.field-datetime .frame {
	background-color: var(--standard-field-background-color);
	border-radius: inherit;
}

.field-datetime .instance {
	border-style: dashed;
	border-color: var(--color-ui);
	box-sizing: inherit;
	width: inherit;
	max-height: 0;
	min-height: 0;
	transition: max-height var(--duration) var(--ease-current);
}

.field-datetime .instance {
	border-top-width: 1px;
}

.field-datetime .instance:last-child {
	border-bottom-width: 1px;
}

.field-datetime .frame .apply {
	background-color: var(--standard-field-background-color);
	border-radius: inherit;
}

.field-datetime .frame header div {
	flex-grow: 1;
	position: relative;
	display: flex;
}

.field-datetime .instance:not(.collapsed) .frame-header {
	background-color: var(--color-accent-alt-light);
}

.field.field-datetime header input {
	--standard-field-border-radius: 0;
	--standard-field-border-color: transparent;
	--standard-field-hover-border-color: transparent;
	padding: var(--standard-inner-rhythm);
	flex: 0% 1 1;
	margin: 0;
}

.field.field-datetime .frame:not(.range) header input.end {
	display: none;
}

[id="secondary"] .field.field-datetime header input:focus {
	flex-grow: 2;
}

/*
.field-datetime header em.label {
	display: none;
}

.field-datetime header em.end.label {
	top: 42px;
}
*/
/* Invalid */
.field-datetime .frame header .invalid {
	border-color: #cc3311;
}

.field-datetime .frame header .invalid input {
	color: #cc3311;
}

.field-datetime .destructor {
	flex-shrink: 0;
	margin-right: var(--standard-inner-rhythm);
}

.field-datetime .frame.multiple .apply select {
	display: none;
}

/* Ordering */

.field-datetime .frame li.ordering header div {
	border-color: #44689e;
}

/* Single dates */
.field-datetime .frame.single ol {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: inherit;
}

.field-datetime .frame.single li {
	border-radius: inherit;
	border: none;
}

.field-datetime .frame.single header {
	padding: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.field-datetime .frame.single li header div {
	border-radius: 2px 2px 0 0;
	min-height: 23px;
}

/* Help */

.field-datetime div.help.hidden {
	display: none;
}

.field-datetime div.help {
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	box-shadow: none;
	margin-bottom: 0;
	display: block;
}

.field-datetime div.help + .frame li:first-child,
.field-datetime div.help + .frame.single li:first-child div {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.field-datetime div.help h3 {
	font-weight: normal;
	margin: 0;
	padding: 0 5px 0 0;
	color: #000;
	background: #f5f5f5;
	z-index: 1000;
	position: relative;
	display: inline-block;
}

.field-datetime div.help dl {
	position: relative;
	margin: -8px 0 20px;
	padding: 17px 0 0 130px;
	border-top: 1px solid #fff;
}

.field-datetime div.help dl:last-of-type {
	margin-bottom: 10px;
}

.field-datetime div.help dt {
	position: absolute;
	left: 0;
}

.field-datetime div.help code {
	background: #383836;
	border-radius: 4px;
	color: #fff;
	line-height: 1.85;
	min-height: 20px;
	padding: 0 10px;
	display: inline-block;
}

.field-datetime div.help dd {
	margin: 0 0 10px;
	padding: 2px 0 0;
}
