/**
 * Timer for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/timer
 */


div.timeline {
	position: relative;
	margin-top: var(--spacing-broad);
	height: var(--spacing-micro);
	background: var(--color-main);
	display: flex;
	border-radius: var(--radius-small);
}

div.timeline.end:not(.is-shown) {
	display: none;
}

div.timeline.end span.start {
	display: none;
}

div.timeline span {
	color: transparent;
	border: none;
	border-left: 1px solid var(--color-main-light);
	box-sizing: border-box;
	display: block;
	width: 4.17%;
	margin: 0;
	padding: 0;
	position: relative;
	left: 4.17%;
	top: 0;
	cursor: pointer;
}

div.range, div.selector {
	background: var(--color-accent-alt-light);
	height: 100%;
	display: block;
	width: 4.17%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

div.selector {
	background: none;
	overflow: visible;
}

div.timeline code {
	position: absolute;
	font-family: inherit;
	left: 0;
	bottom: calc(100% + var(--spacing-nano));
	background: #56554D;
	border-radius: var(--radius-small);
	padding: var(--spacing-pico) var(--spacing-nano);
	line-height: 1.1em;
	color: var(--color-main-dark);
	font-size: var(--text-smaller);
	font-weight: 600;
	white-space: nowrap;
	width: max-content;
	display: block;
}

div.timeline div.range code {
	background-color: var(--color-accent-alt-light);
	color: var(--color-main-dark);
}

div.timeline div.selector code {
	background: var(--color-accent);
	color: var(--color-clear);
}

div.timeline.end code, div.timeline.end div.selector code {
	left: auto;
	right: 0;
}

div.range span, div.selector span.current {
	border: none;
	height: 100%;
	width: 0;
	border-right: var(--spacing-pico) solid var(--color-accent-alt-light);
	background: var(--color-accent-alt);
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1;
	padding: 0;
}

li.range div.range span.end {
	display: block;
	left: auto;
	right: 0;
}

div.range span.active {
	width: 100%;
	display: block;
	border-radius: none;
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
}

/* Ordering */

li.ordering div.timeline {
	border-top: 3px solid #4d78b4;
	border-bottom: 3px solid #4d78b4;
	background: #3c5c8c;
}

li.ordering div.timeline code {
	background: #44689e;
}

li.ordering div.range {
	border-color: #44689e;
}

li.ordering div.timeline span {
	border-color: #3c5c8c;
}
